# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# This team will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# and will be requested for review when someone opens a
# pull request.
*       @loopsocial/android-sdk-reviewers
